* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;

    position: fixed;
    justify-content: space-between;
}

.nav ul {

    display: flex;
    gap: 40px;
}