header {
    background-color: #222222;
}

#header .container {

    .nav {
        display: flex;
        justify-content: space-between;


        nav ul {
            display: flex;
            align-items: center;
            gap: 20px;

        }

        li a {
            color: #fff;
        }

        nav {
            display: flex;
            align-items: center;

        }
    }



    .logo i {
        font-size: 3rem;
        color: #fff;
    }

}