p {

    font-size: large;
}

div {

    border: solid red;
    height: 100px;
    width: 50%;
    background-color: powderblue;
}

.Heading {
    color: blue;
}

.lightgreen {

    background-color: greenyellow;

}

.dda {
    background-color: #ddafea;
}

.rgb {
    background-color: rgb(155, 55, 128);
}

.hsl {
    background-color: hsl(60, 22%, 50%);
}